.git/
.idea/
.claude/
.cache/
logs/
tests/
docs/
vendor/
*.tgz
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/acinclude.m4
/aclocal.m4
/autom4te.cache/
/build/
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure~
/configure.ac
/include/
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/modules/
/run-tests.php
/couchbase.la
**/*.lo
**/*.o
**/.libs/
**/.deps

**/cmake-build*/
/CPM_modules/
/cpm-package-lock.cmake
/src/deps/cache/

/performer/proxy/protocol/
/performer/proxy/php-performer
/performer/backend/src/vendor/
/performer/backend/src/composer.lock
