*.core
*.dep
*.dep
*.lo
*.loT
*.o
*.swp
*.tgz
*~
.deps
.libs/
.phpdoc
.cache
/*.out
/logs
/.idea/
/.phpunit.result.cache
/Debug/
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/acinclude.m4
/aclocal.m4
/autom4te.cache
/build/
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.nice.bat
/config.status
/config.sub
/configure
/configure.ac
/configure.bat
/configure.in
/configure.js
/couchbase.la
/docs/
/include/
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/modules/
/package.xml
/composer.phar
/phpunit.result.cache
/run-tests.php
/src/.idea/
/test.cache
/vendor/
cmake-build*/
composer.lock
php_test_results_*.txt
results.xml
/src/cmake/pecl_package.cmake
/src/deps/cache
/package.xml
